
@{
}

<form method="post">
    <label for="username" class="sr-only">Username</label>
    <input type="text" name="username" class="form-control" placeholder="username" />
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" />
    <button class="btn-primary btn-lg" type="submit">Login</button>
</form>


<form method="post" asp-controller="Home" asp-action="Logout">
    <button class="btn-primary btn-lg" type="submit">Logout</button>
</form>